/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body {
  font-family: sans-serif;
}

header {
  background-color: #ff8523;
  color: white;
}

nav {
  background-color: #ff8523;
  color: white;
  border: 1px;
  border-color: white;
  border-radius: 25px;
  padding:auto;
  width:auto;
  height:auto;
}

h2 {
  color: #1fabe5;
}

h3 {
  color: #1fabe5;
}
