/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body {
  font-family: sans-serif;
}

header {
  background-color: #ff8523;
  color: white;
  padding: 20px;
}

.main_navigation {
  margin: 20px;
  border: 10px;
  color: white;
  border: 1px;
}

.main_navigation a{
  font-weight: bold;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  width:10px;
  height:10px;
  margin: 2px;
}

h2 {
  color: #1fabe5;
}

h3 {
  color: #1fabe5;
}

table {
  border: 2px solid;
  border-color: #1fabe5;
  text-align: center;
}

table a{
  border: 2px solid;
  border-color: #1fabe5;
  text-align: center;
}
